

body {
    background-color: black;
    margin: auto;
    padding: 200px;
    height: 200px;
    width: 200px;

}

id#h1 {

    margin: auto;
    color: grey;
}

div#box {

    background-color: white;
    padding: 20px;
    width: 300px;
    height: 200px;
}